<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="dependencyVersion" value="Highest"/>
        <add key="repositoryPath" value=".\nuget_packs"/>
    </config>
    <packageSources>
        <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json"/>
    </packageSources>
</configuration>
